#main{
    margin-top: 150px;
    background-color: rgb(163, 179, 173);
    padding-top: 34px;
    padding-bottom: 45px;
  
}

#main2{
   
    background-color: rgb(186, 221, 208);
    padding-top: 15px;
    padding-bottom: 34px;
    padding-left: 40%;
}